<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="../static/css/styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <ul class="menu">
        <li><a class="title" href="{{url_for('index')}}">ArtiFact</a></li>
        <li><a class="other" href="{{url_for('predict')}}">Predict</a></li>
        <li><a class="other" href="{{url_for('styles')}}">Styles</a></li>
    </ul>
    <div class="stylelist">
        <div class="one">

            <img class=leftimg src="../static/images/artnouveau.jpeg">
            <h2>Art Nouveau</h2>
            <div class="left">
                <p>Art Nouveau, meaning "new art" in French, was an art and design movement during the late 1800s and early 1900s. It represented a shift towards modern and decorative forms of art and design. Key characteristics include organic/natural forms, plant and flower motifs, asymmetry, and heavy ornamentation. The effects of the movement can be seen in the characteristics of the Art Deco style.</p>
                
            </div>
        </div>
        <div class="two">
            <img class=rightimg src="../static/images/baroque.jpeg">
            <h2>Baroque</h2>
            <div class="right">
                <p>Baroque art is a style from the 1600s, after the Renaissance. Though similar to Renaissance art, Baroque art has its own distinct features, including intense emotion and drama, dramatic lighting and shadows (and the use of chiaroscuro and tenebrism), naturalistic and realistic depictions, and more dynamic compositions. </p>
            </div>
        </div>
        <div class="three">
            <img class=leftimg src="../static/images/expressionism.jpeg">
            <h2>Expressionism</h2>
            <div class="left">
                <p>Expressionism originated in Germany in the early 1900s. It emphasizes strong emotions but also psychological experiences, representative of the social conflicts of the time. Key characteristics include more abstraction and subsequent subjectivity, bright and vivid colors, the use of printmaking techniques like woodcuts, and simplified forms. </p>
            </div>
        </div>
       <div class="four">
            <img class=rightimg src="../static/images/impressionism.jpeg">
            <h2>Impressionism</h2>
            <div class="right">
                <p>Impressionism emerged in France in the late 1800s with an extreme and defining focus on light and color. Impressionist artists tried to capture the lights and colors of small, fleeting moments of the day. Important features include an emphasis on light, color, and atmosphere, visible and loose brushstrokes, everyday subjects, and blurry outlines. </p>
            </div>
       </div>
        <div class="five">
            <img class=leftimg src="../static/images/japanese.jpeg">
            <h2>Japanese</h2>
            <div class="left">
                <p>Japanese art spans thousands of years and reflects the culture and history of Japan. It is often simple and elegant, with a focus on nature and spirits. Common characteristics include depictions of nature and harmony, an evident influence of Zen Buddhism, the inclusion of calligraphy, and the use of woodblock printing, especially during the Edo period. </p>
            </div>
        </div>
        <div class="six">
            <img class=rightimg src="../static/images/medieval.jpeg">
            <h2>Medieval</h2>
            <div class="right">
                <p>Medieval art is from the Middle Ages, which spanned from the 400s to the 1400s in Europe. Medieval art often includes religious themes and symbols, very flat compositions and a lack of perspective, and stylized forms. Monks of the time often created illuminated manuscripts, handwritten documents that were meticulously decorated and illustrated. There were various styles within Medieval art as well. Byzantine art features a heavy use of gold and mosaics. Architecture from the Gothic period often involves stained glass and high ceilings, compared to the lower ceilings of the Romanesque period. </p>
            </div>
        </div>
        <div class="seven">
            <img class=leftimg src="../static/images/primitivism.jpeg">
            <h2>Primitivism</h2>
            <div class="left">
                <p>Primitivism started in the late 1800s with a focus on non-Western and indigenous cultures. African, Native American, and Oceanic art were key sources of inspiration. Primitivist, or “Primal” art, often features a sense of primitiveness, simple but bold forms, unconventional mediums, an influence of psychology, and depictions of human nature. </p>
            </div>
        </div>
        
    </div>

</body>
</html>